<!DOCTYPE html>
<html lang="ru">

<head>
	<base href="" />
	<link rel="canonical" href="" />

	<!-- <meta charset="windows-1251"> -->
	<meta charset="utf-8">
	<meta name="description" content="DESCRIPTION САЙТА" />
	<meta name="keywords" content="СПИСОК KEYWORDS" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="images/template/icon/favicon.ico" />

	<link href="style.css" type="text/css" data-template-style="true" rel="stylesheet">
	<script defer src="script.js"></script>

	<title>Оптовая компания детских товаров в Украине</title>
</head>

<body>